<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divi | Split Your Load</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap"
          rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-family: 'Rubik', sans-serif;
        }
    </style>
    <script src="../static/submitRules.js"></script>
</head>
<body>
<h1 style="text-align: center">Divi</h1>
<form id="frm2">
    <label for="number_to_buy">How many people should each person buy for?</label>
    <input type="number" id="number_to_buy" name="number_to_buy">
</form>
<form id="frm1">
    <label for="name_to_by_for">Who are you buying for?</label>
    <input type="text" id="name_to_by_for" name="name_to_buy_for">
</form>
<button onclick="getAddedNameValue()">Add new person!</button>
<table id="names">
    <tr>
        <th>Name</th>
    </tr>
</table>
<form id="frm5">
    <p>Add a rule in the format Person A bought for Person B Forever!</p>
    <label for="buyer_forever">Person A: </label>
    <select id="buyer_forever" name="buyer_forever">
        <option value="">--Please choose an option--</option>
    </select>
    <label for="buyee_forever">Person B: </label>
    <select id="buyee_forever" name="buyee_forever">
        <option value="">--Please choose an option--</option>
    </select>
    <label for="reverse"> Do you want to apply the reverse as well?</label>
    <input type="checkbox" id="reverse" name="reverse" value="Reverse">

</form>
<button onclick="addForeverRule()">Add a new rule forever!</button>
<table id="forever_rules">
    <tr>
        <th>Person A</th>
        <th>Person B</th>
    </tr>
</table>
<form id="frm4">
    <p>Add a year that has previously had gift purchases!</p>
    <label for="year_input">Year: </label>
    <input type="text" id="year_input" name="year_input">
</form>
<button onclick="addYear()">Add new year!</button>
<form id="frm3">
    <p>Add a rule in the format Person A bought for Person B in Year C!</p>
    <label for="buyer">Person A: </label>
    <select id="buyer" name="buyer">
        <option value="">--Please choose an option--</option>
    </select>
    <label for="buyee">Person B: </label>
    <select id="buyee" name="buyee">
        <option value="">--Please choose an option--</option>
    </select>
    <label for="year">Year: </label>
    <select id="year" name="year">
        <option value="">--Please choose an option--</option>
    </select>
</form>
<button onclick="addRule()">Add a new rule!</button>
<table id="rules">
    <tr>
        <th>Person A</th>
        <th>Person B</th>
        <th>Year</th>
    </tr>
</table>

<button onclick="createAllocation()">Create Allocation</button>
</body>
</html>
